html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Agregamos esta línea para posicionar elementos relativamente */
}

a-scene {
    width: 100%;
    height: 100%;
}


body
{
  margin: 0;
  padding: 0;
  background: #222;
}

.center
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

i
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.square
{
    width: 250px;
    height: 250px;
    border: 10px dashed white;
    border-radius: 20px;
    position: absolute;
    top: calc(35% - 125px);
    left: calc(50% - 125px);
}

.scan
{
  width: 100%;
  height: 70px;
  background: linear-gradient(cyan, transparent);
  animation: scanning 1.5s linear alternate infinite;
}

@keyframes scanning
{
  0%{transform: translatey(0px);}
  100%{transform: translatey(210px);}
}
